body{
}
ol{
    font-size: 20px;
    text-align: justify;
    margin-left: 10vw;
    margin-right: 30px; 
}
.OnImage{
    position:absolute;
    color: white;
    text-align: center;
    margin-top: 40vw;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 6vw;
    position:absolute;
    top: 23vw;
    right: 10vw;
    left: 10vw;
    color: white;
   }
img{
    display: block;
    height:auto;
    width: 100%;
}
.image{
    filter:brightness(0.5);
    height:60vw;
}
h2{
    text-align: center;
    margin-top: 50px !important;
    font-style: italic;
    font-size: 40px;
    color:rgb(17, 83, 17)
}
.paragraph{
    margin-top: 40px;
}
p{
    font-size: 23px;
    text-align: justify;
    margin-left: 5vw;
    margin-right: 5vw;
}
address{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
.onLine1{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(249, 58, 58);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine2{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(249, 223, 58);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine3{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(87, 168, 22);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine4{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(196, 0, 0);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine5{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(255, 126, 28);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine6{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(31, 191, 209);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine7{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(218, 200, 40);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine8{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(195, 58, 249);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine9{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(249, 169, 58);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine10{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(144, 216, 0);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine11{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(0, 203, 226);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.onLine12{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4vh;
    background-color: rgb(220, 24, 234);
    color: white;
    font-size: 8vh;
    padding-left: 3vw;
}
.nothing{
    height: 50vw;
    width: 80vw;
}
